
body{
    background-color: rgb(255, 204, 187);
}
.h1{
    text-align: center;
    font-size: 30px;
    color: #572d23;
    background-color: #F7CF8D;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #572d23;
    margin: 0% 12%;
}
footer{
    background-color: #844434;
    align-items: center;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot_img{
    justify-content: center;
    align-items: center;
}

h1{
    
    text-align: center;
    font-size: 30px;
    color: #F7CF8D;
}

a{
    text-decoration: none;
    color: #F7CF8D;
}

button{
    margin: 10% 40%;
    width: 20%;
    height: 60px;
    background-color: #572d23;
    color: #F7CF8D;
    border: none;
}

.p{
    display: flex;
    
}

.slider{
    width: 256px;
    height: 370px;
    border: 2px solid black;
    margin: 1%;
    overflow: hidden;
}

.slider-line{
    height: 370px;
    width: 1024px;
    background: #572d23;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider-next{
    position: absolute;
    top: 40%;
    left: -30%;
    width: 5%;
}
.slider-prev{
    position: absolute;
    top: 40%;
    left: -37%;
    width: 5%;
}


.slider1{
    width: 256px;
    height: 370px;
    border: 2px solid black;
    margin-left: 90%;
    overflow: hidden;
}

.slider-line1{
    height: 370px;
    width: 1024px;
    background: #572d23;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider-next1{
    position: absolute;
    top: 40%;
    left: 3%;
    width: 5%;
}
.slider-prev1{
    position: absolute;
    top: 40%;
    left: -4%;
    width: 5%;
}


.slider2{
    width: 256px;
    height: 370px;
    border: 2px solid black;
    margin-left: 180%;
    overflow: hidden;
}

.slider-line2{
    height: 370px;
    width: 1024px;
    background: #572d23;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider-next2{
    position: absolute;
    top: 40%;
    left: 35%;
    width: 5%;
}
.slider-prev2{
    position: absolute;
    top: 40%;
    left: 27%;
    width: 5%;
}

.sliders{
    display: flex;
}

/* Стиль по умолчанию для мобильных устройств */
body {
    font-size: 16px;
}

/* Для планшетов */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

/* Для настольных компьютеров */
@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
}

.container {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
}

.item {
    flex: 1 1 300px; /* Элементы будут занимать минимум 300px, но могут расти */
}
img {
    max-width: 100%;
    height: auto; /* Сохранение пропорций */
}
